.all-mail{
    width: 90%;
    /* background-color: lightblue; */
    margin-top: 10px;
    border-radius: 10px;
    height: 30px;
    padding-left: 20px;
    margin-left: 10px;
    font-weight: 500;
    gap: 15px;
}