.header-container{
height: 55px;
width: 100vw;
background-color: lightcoral;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.header-container .div1{
    height: 100%;
width: 25vw;
background-color:lightblue;
display: flex;

align-items: center;

}
.header-container .div1 .img1{
  margin-left: 30px;
  height: 40px;
  font-size: 50;
    
}
.header-container .div1 .img2{
  margin-left: 10px;
  height: 40px;
    
}

.header-container .div2{

    height: 100%;
    width: 50vw;
    background-color:lightblue;
 display: flex;
 justify-content: center;
 align-items: center;
}
.header-container .div2 .serch-div{
    background-color: white;;
    display: flex;
    justify-content: center;
    align-items: center;
   border: 1px solid black;
    width: 100%;
    border-radius: 20px;
    margin-right: 25px;
}
.header-container .div2 .serch{
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;

    margin-right: 10px;
   
}
.header-container .div2 input{
    border: 0;outline: none;
    background-color: white;
    height: 40px;
    width: 90%;
 
    padding-left: 10px;
    border-radius: 20px;
}
.header-container .div3{
    height: 100%;
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:lightblue;
    

}
.header-container .div3 .setting{
    height: 40px;
  
    margin-top: 5px;
    border-radius: 20px;
    
}
.header-container .div3 .user{
    margin-right: 10px;
height: 40px;
border-radius: 20px;
 

}
.header-container .div3 .dotted{
    margin-right: 10px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;

}
.header-container .div3 .button-logout{
    height: 28px;
    width: 60px;

}
.header-container .div3 .button-logout:hover{
    background-color: red;
    color: white;
}
